<canvas id="stBgCanvas"></canvas>
<img id="stBgSrc" src="/assets/images/6a1fcef0dc4711b3.webp" alt="" style="display:none">
<img id="stMaskSrc" src="/assets/images/723f589c563ac19f.webp" alt="" style="display:none">
<img id="stBgSrc2" src="/assets/images/d5453173fac8ea76.webp" alt="" style="display:none">
<img id="stMaskSrc2" src="/assets/images/129da59cec76bf51.webp" alt="" style="display:none">
<img id="stCTeal" alt="" style="display:none" src="/assets/images/4bf62cde86373c3c.webp">
<img id="stCBlue" alt="" style="display:none" src="/assets/images/7fc243bf79af596e.webp">
<img id="stCSand" alt="" style="display:none" src="/assets/images/a14bd5f8a40e9d34.webp">
<img id="stCGreen" alt="" style="display:none" src="/assets/images/aee8c1742c27ff83.webp">
<img id="stCGrey" alt="" style="display:none" src="/assets/images/9fc274e0e3de1382.webp">
<img id="stCCharcoal" alt="" style="display:none" src="/assets/images/11bb9c2e3b16b411.webp">
<img id="stCWhiteal" alt="" style="display:none" src="/assets/images/94be588b174c6769.webp">
<img id="stCRed" alt="" style="display:none" src="/assets/images/426b5652367db89e.webp">
<img id="stCViolet" alt="" style="display:none" src="/assets/images/9e6780a0cd6be236.webp">
<img id="stCBlack" alt="" style="display:none" src="/assets/images/a50f53cd5f4352e8.webp">
<img id="stCTealEnd" alt="" style="display:none" src="/assets/images/8c78a535fa14b64a.webp">
<img id="stCBlueEnd" alt="" style="display:none" src="/assets/images/3d6e47c6829729e8.webp">
<img id="stCSandEnd" alt="" style="display:none" src="/assets/images/e9768807a9939774.webp">
<img id="stCGreenEnd" alt="" style="display:none" src="/assets/images/f27b33dc441c9394.webp">
<img id="stCGreyEnd" alt="" style="display:none" src="/assets/images/e4b0a8770836cfcd.webp">
<img id="stCCharcoalEnd" alt="" style="display:none" src="/assets/images/c00c67d025d88978.webp">
<img id="stCWhitealEnd" alt="" style="display:none" src="/assets/images/ffb73d0300026b76.webp">
<img id="stCRedEnd" alt="" style="display:none" src="/assets/images/e40506d5b1a1cc5f.webp">
<img id="stCVioletEnd" alt="" style="display:none" src="/assets/images/4771182c0c7f9169.webp">
<img id="stCBlackEnd" alt="" style="display:none" src="/assets/images/ff6210cf20396106.webp">
